.box1 {
    display: flex;
    flex-basis: auto;
    justify-content: space-evenly;
    margin: 40px auto;
  
    .box1__main {
      justify-content: center;
      flex-direction: column;
      align-items: left;
      max-width: 300px;
    }
  
    .box1__rating {
      display: flex;
      flex-direction: column;
  
      .rating__reviews,
      .rating__report,
      .rating__tech {
        display: flex;
        background-color: rgba(247, 242, 248, 255);
        border-radius: 10px;
        height: 60px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }
  
      .rating__reviews {
        transform: translateX(-80px);
      }
  
      .rating__report {
        transform: translateX(-40px);
      }
  
      p {
        color: rgba(61, 36, 62, 255);
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        justify-content: left;
        margin: 0;
        padding: 0 20px 0 10px;
      }
  
      .all-stars {
        padding: 0 10px 0 20px;
  
        .star {
          padding: 0 10px 0 0;
        }
      }
    }
  }